# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
out
build
coverage
.turbo
.cache
.parcel-cache
.eslintcache
.stylelintcache
.swc
.vercel
.netlify
.storybook
.pnp.*
*.local
.env
.env.*
.env.*.local
*.tsbuildinfo
.idea

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next
